<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/logo.png') }}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Iconos Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home-style.css') }}">
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='/js/usuario_pago.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/boton.js') }}"></script>
    <!-- Titulo -->
    <title>Kibo</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light">
        <div class="container-fluid">
            <div class="navbar-collapse" id="navbar-toggler">
            <a class="navbar-brand" href="{{url_for('mostrar_dashboard')}}">
                <img src="{{ url_for('static', filename='/img/logo_principal.svg') }}" width="100" alt="logo de la pagina web">
            </a>
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li class="navbar-item">{{usuario.nombre}}</li>
                <li class="navbar-item">
                    <i class="bi bi-person-circle"></i>
                </li>
                <li class="navbar-item">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('mostrar_historial')}}">Historial</a></li>
                  <li><a class="dropdown-item" href="{{url_for('cerrar_sesion')}}">Cerrar Sesión</a></li>
                </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container agradecimiento">
        <h2>¡Tu trabajo está terminado!</h2>
        <h3>Formas de pago disponibles</h3>
        <section class="formas_pago">
            <div class="container text-center">
              <div class="row">
                <div class="columna forma_derecha col-12 col-md-6">
                  <img class="iconos_pagos" src="{{ url_for('static', filename='/img/icono_banco.svg') }}">
                  <p class="formas_pago-titulo">Depósito o Transferencia</p>
                  <ul>
                    <li><strong>Bancaria:</strong> Banco Familiar</li>
                    <li><strong>Titular:</strong> Tadeo Molinas</li>
                    <li><strong>N° de Cédula:</strong> 5435654</li>
                    <li><strong>N° de Cuenta:</strong> 1237654</li>
                  </ul>
                </div>
                <div class="columna forma_izquierda col-12 col-md-6">
                    <img class="iconos_pagos" src="{{ url_for('static', filename='/img/icono_tigo.svg') }}">
                  <p class="formas_pago-titulo">Tigo Money</p>
                  <ul>
                    <li><strong>Titular:</strong> Tadeo Molinas</li>
                    <li><strong>Celular:</strong> +595 985 530018</li>
                    <li>&nbsp</li>
                    <li>&nbsp</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <p class="aviso-pago">Una vez realizado el depósito, la transferencia o el giro, enviar una foto o captura de pantalla del comprobante al siguiente número +595 985 530018 por medio de la aplicación WhatsApp.</p>
        {% if  trabajo.estado_id == 4%}
          <form class="container mb-5" action="{{url_for('actualizar_estado')}}" method="post">
            <input hidden name="id" value="{{trabajo.id}}"> 
            <button type="submit" name="proximo_estado" value="5" class="btn text-center opcion" id="botones_unicos" >Pago Realizado</button>
          </form>
        {% else %}
          <p class="mb-5 aviso-pago">Agradecemos tu pago. El trabajo se enviará en la brevedad posible.</p>
        {% endif %}

    </div>
</body>
</html>